QTabBar {
	border-width: 2px;
	border-color: black;
}

QTabBar::tab {
	height: 40px;
	width: 120px;
	background-color: palegoldenrod;
}

/* We provide a min-width and min-height for push buttons
   so that they look elegant regardless of the width of the text. */
QPushButton {
	background-color: palegoldenrod;
	border-style: outset;
	border-width: 2px;
	border-color: darkkhaki;
	border-style: solid;
	border-radius: 0px;
}

QPushButton:hover {
   background-color: khaki;
}

/* Increase the padding, so the text is shifted when the button is
   pressed. */
QPushButton:pressed {
	padding-left: 5px;
	padding-top: 5px;
	background-color: #d0d67c;
}