/********************************************************
Base Widgets
********************************************************/

/********************************************************
Containers
********************************************************/


/********************************************************
Text inputs
********************************************************/

/********************************************************
Labels
********************************************************/
QLabel#lbl_detector_static_big_readout {
	text-align: right;
	font-size: 64px;
	color: white;
}

/********************************************************
TABS
********************************************************/


/********************************************************
BUTTONS
	Checked/unchecked behavior
********************************************************/
